<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - authTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <img src="https://raw.githubusercontent.com/ooad-2019-2020/Grupa2-ASAtravel/master/asaTravel.png" alt="Logo" width="150" height="140">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Uslovi putovanja</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="OAgenciji">Agencija</a>
                        </li>

                    </ul>

                </div>

            </div>

        </nav>
        



        <div style="float:left; width:23%; background-color:rgba(255,255,255, 0.3)">
            

            <div style="margin: 10%">
                <input type="button"
                       class="btn btn-info"
                       value="Putovanja"
                       onclick="location.href='/Putovanje/Index'"/>
                <p></p>
                <p>
                    Kontakt telefon:
                    033/123-456
                </p>
                <p>
                    Fax:
                    033/123-123
                </p>
                <p>
                    E-mail:
                    asatravel@@hotmail.com
                </p>
                <p>
                    Adresa:
                    Maršala Tita 10, Sarajevo
                </p>
            </div>

            <div id="map" class="map" style="width:100%; height:250px"></div>
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.0/css/ol.css" type="text/css">
            <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.0/build/ol.js"></script>
            <script type="text/javascript">
                var map = new ol.Map({
                    target: 'map',
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    view: new ol.View({
                        center: ol.proj.fromLonLat([18.41818, 43.859]),
                        zoom: 18
                    })
                });
            </script>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
