
@{
    ViewData["Title"] = "Submit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-left:20%;">
        <h4>Uspješno ste se registrovali</h4>
        <p></p>
        <input type="button"
               style="margin-left: 2%"
               class="btn btn-info"
               value="Ok"
               onclick="location.href='/Home/Index'" />
    </div>
