@{
    ViewData["Title"] = "Agencija";
}
<h1 style="margin-left: 20%;  color: darkslategrey">@ViewData["Title"]</h1>

<p style="margin-left: 20%">
    Naš prepoznatljiv stil i ljubaznost osvojila su srca naših
    klijenata koji upravo nama povjeravaju svoje godišnje odmore.
    Sigurnost i pouzdanost, najpovoljniji odnos cijene i kvaliteta,
    iskustvo i poslovna strategija u osmišljavanju i realizaciji
    brojnih putovanja, visokoobrazovani kadrovi i poslovnice,
    razgranata mreža subagenata i brojni ugledni partneri širom
    svijeta, glavne su prednosti naše agencije. Ono
    što ASAtravel pokušava ostvariti svojim
    poslovanjem je svakako ugled, koji predstavlja strateški kapital,
    što je ujedno i baza za planiranje i pripremu budućih poslovnih
    poduhvata i odgovor na nove izazove  koje nosi budućnost.

</p>