@{
    ViewData["Title"] = "Uslovi putovanja";
}
<h1 style="margin-left: 20%;  color: darkslategrey">@ViewData["Title"]</h1>

<p style="margin-left: 20%">
    Putnik se, za putovanje koje organizuje "ASAtravel", može prijaviti u putničkoj agenciji
    "ASAtravel", odnosno izdvojenim posebnim prostorima organizatora  putovanja "ASAtravel".
    Svojim potpisom na ugovoru – potvrdi o putovanju, putnik potvrdjuje da su mu uručeni Opšti 
    uslovi putovanja i program putovanja, kao i uslovi 
    osiguranja, koji čine sastavni dio ugovora, te da se sa istima prethodno upoznao (kao i lica koja su
    naznačena u ugovoru), a zaključenjem ugovora i saglasio. Organizator je u obavezi da, prije zaključenja 
    Ugovora, obavjesti putnika o svakoj promjeni podataka iz Programa, u pismenoj formi, ili na trajnom nosaču
    (trajnom medijumu) koji je lako dostupan putniku. Ako je putnik rezervisao putovanje putem sredstava komunikacije
    na daljinu, organizator je u obavezi o eventualnim promenama obavestiti ga, na način na koji je izvršena 
    rezervacija. Prilikom prijave, putnik je dužan uplatiti obaveznu
    akontaciju, u visini od 30% cijene aranžmana,
    a ostatak do punog iznosa ugovorene cijene. Ukoliko putnik, u roku predvidjenom ugovorom,
    programom putovanja, ili ovim opštim uslovima, ne izvrši uplatu u cjelosti, smatra se da je putovanje otkazao.
</p>
