@page
@model LoginModel

@{
    ViewData["Title"] = "Prijava";
}
   <h1 style="margin-left:27%; color: darkslategrey">@ViewData["Title"]</h1>
        <div  style="margin-left:25%" class="row">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password">Lozinka</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Prijavi se</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Zaboravili ste lozinku?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registruj se kao novi korisnik</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Ponovo pošalji email za potvrdu</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
